*{
    box-sizing: border-box;

   
      font-family: "Josefin Sans", serif;
     
}

body {
    background-image: url(seashelledited.png);
    background-size: cover;
}

img {
    max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(187, 253, 245, 0.8);
    border: 1px solid rgb(255, 0, 0);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 400px;
    height: 200px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }



  .hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: rgb(255, 0, 0);
    font-size: 26px;
    text-align: center;
    opacity: 0;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .grid-item:hover .hidden{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1.2); /* Enlarges the text */
    font-size: 32px;
    cursor: pointer;

  }

  .mussel {
    background-image: url(musselshell.jpeg);
  }

  .conch {
    background-image: url(conchshell.jpeg)
  }

  .cowerie {
    background-image: url(cowrieshell.jpeg)
  }

  .abalone {
    background-image: url(abaloneshell.jpg)
  }

  .scallop {
    background-image: url(scallopshell.jpeg)
  }

  .nautilus {
    background-image: url(nautilusshell.jpeg)
  }

  .olive {
    background-image: url(oliveshell.jpeg)
  }

  .conus {
    background-image: url(conusshell.jpeg)
  }

  .murex {
    background-image: url(murexshell.jpeg)
  }

.style {
    color: rgb(242, 255, 208);
    text-align: center;
    font-size: 40px;
   

}


.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }

